* {
    font-family:'Courier New', Courier, monospace;
}

.entry {
    text-align: center;
    padding: 0px 40px 22px;
}

button {
    border: 1px solid black;
    border-radius: 8px;
    padding: 4px 8px;
    cursor: pointer;
}

.lista-pokemon {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    margin: 0px 10px;
}